@charset "utf-8";
/* CSS Document */
*{
	font-size: 20px;
	padding: 0;
	margin: 0;
	
}
.table{
	margin: auto;
	width: 100%;
	border-collapse: collapse;
}
.table tr td {
	padding: 15px;
	margin: 15px;
	/* border-left: 3px solid hotpink; */
	/* border-bottom: 2px solid purple; */
	text-align: center;
	border: 2px solid;
	border-top-color: #6a2c9a;
	border-left-color: hotpink;
	border-collapse: collapse;
	font-family: 'Baloo Thambi 2', cursive;
}
.header{
	width: auto;
	height:60px;
	background: url("../../images/headbar.jpg");
	line-height: 40px;
}	
#menu ul {
  background: url("../../images/menubar.jpg");
  list-style-type: none;
  text-align: center;
}
#menu li {
  color: #f1f1f1;
  display: inline-block;
  width:150px;
  height: 60px;
  line-height: 50px;
  margin-left: -5px;
}
#menu a {
  text-decoration: none;
  color: #fff;
  display: block;
}
#menu a:hover {
  color: purple;
}

.content{
	width: 100%;
	height: auto;
}.left{
		width: auto;
		height:auto;
		float: left;
		margin-left: 35px;
		margin-top: 35px;
		width: 33%;
		}
.search input#text{
	outline-style: none;
	border: none;
    border-bottom: 2px solid #00BCD4;
	padding-top: 10px;

}

.search input#submit {
    padding: 7px;
	width: 100px;;
    border-radius: 10px;
    border: none;
	text-align: center;
	float: right;
    bottom: 10px;
    cursor: pointer;
    background:#6D04B3;
}
.right{
	padding-top: 35px;
    width: 63%;
    float: right;
}
.alllist ul{
	width : auto;
	list-style: none;
	
}
.alllist ul li{
	width :auto;
	height : auto;
	text-align: center;
	float: left;
	margin: 15px;
	
}


.alllist ul li a{
	text-decoration: none;
	margin: 10px;
	padding: 10px;
}
.clear{
	clear: both;
}
.footer{
	background: linear-gradient(to left,white,blueviolet,#662c90,blueviolet,white );
	width:100%;
	height:45px;
	text-align: center;
	border: 1px solid #000;
}/* CSS Document */
.chitiet .main-container {
    width: 80%;
    margin: 0 auto;
}

.chitiet .main-container h1 {
    font-size: 27px;
    text-transform: uppercase;
    /* border-bottom: 1px solid red; */
    padding: 18px 0px;
}
.text-cetner {
    text-align: right;
    padding: 11px 16px;
    background: #ececec;
    margin: 11px 0px;
}

.text-cetner .tool-option {
    text-decoration: none;
}

.main-container {
    margin-bottom: 11px!important;
}
.main-container.printer h1 {
    font-size: 22px;
    text-transform: uppercase;
    padding: 13px 0px;
}

